.about{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

.about h1{
    font-size: 40px;
    font-weight: 700;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #681fdd;
    color: white;

}

.about hr{
    width: 80%;
    height: 3px;
    background-color: blue;
}

.about-section{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 50px; 
    gap: 30px;
    background-color: rgb(119, 119, 223);
}

.about-section img {
    width: 40vw;
    height: 80vh;
}

.About-paragrapgh-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 30px;
    margin-left: 30px;
}
.About-para{
    max-width: 600px;
    font-size: 20px;
    font-weight: 500;
    font-family: poppins;
    color: white;
}
.About-para p span{
    font-size: 30px;
    font-weight: 600;
    color: rgb(11, 18, 159);
}