*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;

}

.nav-menu li Link {
    text-decoration: none;
    color: white;

}

.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100px;
    background-color:rgb(11, 11, 11);
    color:white;
}

.nav-menu{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width:50%; 
}
.nav-menu link{
    text-decoration: none;
}
.nav-menu li{
    list-style: none;
    font-family: Arial, Helvetica, sans-serif; 
    font-size: 20px;
    font-weight: 600;
    color: white;
  
}

.nav-menu li hr{
    width: 80%;
    height: 3px;
    background-color: yellow;
}
.nav-logo img{
    height: 60px;
    width: 80px;
    background-image: contain;
    background: black;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.nav-logo{
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-size: contain;
    margin-left: 20px;
    gap: 20px;
}
.nav-logo p{
    font-family: Arial, Helvetica, sans-serif; 
    font-size: 30px;
    font-weight: 500;
}